@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" );

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

:root {
  --background-color: #f7f7f7;
  --menu-color: #242323;
  --header: #000;
  --content-color: #000;
  --font-family: "Jost", sans-serif;
  --primary: #fff;
  --heading: 3rem;
  --content: 1.125rem;
  --footer_heading: #d9d9d9;
  --footer-content: #8e8e8e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.clear {
  clear: both;
}

/*---------- header ----------

------------------------------*/

.header {
  position: relative;

  width: 100%;

  z-index: inherit;
      background-color: #000;
    padding: 1.5rem 0;
    color: #fff;
}
.header_btn a, .about_btn a{
    font-size: 1rem;
    padding: .8rem 0;
    border: 1px solid #CB3A1A;
    color: #fff;
    width: 204px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.about_btn a{
    background-color: #CB3A1A;
    color: #fff;
    margin: 0;
    border: none;
}

.header_btn a img, .about_btn a img {
        margin-left: 0.9rem;
}
.header_btn a:hover{
    background-color: #CB3A1A;
    transition: all 0.6s ease;
}
.about_btn a:hover{
  background-color: #000;
   transition: all 0.6s ease;
}
.logo img {
  width: 150px;
}
.header_wrap .open-nav-menu {
  margin-left: auto;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}

.open-nav-menu {
  width: 2.5rem;

  height: 2.5rem;

  display: none;

  align-items: center;

  justify-content: center;

  cursor: pointer;
}

.open-nav-menu span {
  display: block;

  height: 0.188rem;

  width: 1.5rem;
  background-color: hsl(0deg 0% 100%);
  position: relative;
}

.open-nav-menu span:before,
.open-nav-menu span:after {
  content: "";

  position: absolute;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: hsl(0deg 0% 100%);

  box-sizing: border-box;
}

.open-nav-menu span:before {
  top: -0.438rem;
}

.open-nav-menu span:after {
  top: 0.438rem;
}
.icon_list {
  display: flex;
}
.close-nav-menu {
  width: 2.5rem;

  height: 2.5rem;

  font-size: 1.5rem;

  background-color: hsl(0, 0%, 11%);

  color: #fff;

  margin: 0 0 1rem 1rem;

  cursor: pointer;

  display: none;

  align-items: center;

  justify-content: center;
}

.menu-overlay {
  position: fixed;

  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);

  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  visibility: hidden;

  opacity: 0;

  transition: all 0.3s ease;
}

.nav-menu .menu {
  display: flex;

  align-items: flex-start;

  flex-direction: column;
}

@media (min-width: 48rem) {
  .nav-menu .menu {
    flex-direction: row;

    align-items: center;
  }

  .nav-menu .menu li + li {
    padding-left: 1rem;
  }

  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    transform: translateY(0);

    opacity: 1;

    visibility: visible;
  }
  .icon_list li + li {
    padding-left: 1rem;
  }
}

@media (min-width: 75rem) {
  .nav-menu .menu li + li,
  .icon_list li + li {
    padding-left: 2rem;
  }
}

.nav-menu .menu .menu-item {
  display: block;

  margin: 0;

  width: 100%;

  position: relative;
}

@media (min-width: 48rem) {
  .nav-menu .menu .menu-item {
    width: auto;

    font-size: 1rem;
  }

  .nav-menu .menu .menu-item:nth-child(4) {
    margin-left: auto;
  }
}

@media (min-width: 62rem) {
  .nav-menu .menu .menu-item {
    font-size: 1rem;
    font-weight: 600;
  }
}

.nav-menu .menu .menu-item:hover a {
  color: hsl(0, 0%, 0%);

  color: var(--accent);
}

.nav-menu .menu .menu-item a {
  display: flex;

  justify-content: space-between;

  align-items: center;

  color: hsl(0, 0%, 0%);

  color: var(--accent);

  padding: 0.75rem 0;

  border-bottom: 1px hsl(0, 0%, 60%) solid;

  border-bottom: 1px var(--border) solid;

  transition: all 0.3s ease;

  text-decoration: none;
  font-size: 0.9rem;
}
.nav-menu .menu .menu-item a.active{
  color: #CB3A1A;
}
.nav-menu .menu .menu-item a:hover{
    color: #CB3A1A;
}

@media (min-width: 48rem) {
  .nav-menu .menu .menu-item a {
    padding: 0.75rem 0;

    border: 0;
  }
}

.nav-menu .menu .menu-item a i {
  padding-left: 0.5em;

  color: hsl(0, 0%, 0%);

  color: var(--accent);
}

.nav-menu .menu .menu-item .sub-menu {
  width: 100%;

  position: relative;

  opacity: 1;

  visibility: visible;

  border: none;

  background-color: transparent;

  box-shadow: none;

  transform: translateY(0px);

  padding: 0;

  margin: 0;

  left: auto;

  top: auto;

  max-height: 0;

  overflow: hidden;

  transition: all 0.3s ease;
}

@media (min-width: 48rem) {
  .nav-menu .menu .menu-item .sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    width: 220px;

    position: absolute;

    left: 0;

    top: 100%;

    background-color: hsl(0, 0%, 100%);

    background-color: var(--clr-white);

    color: hsl(0, 0%, 0%);

    color: var(--accent);

    padding: 0.5rem 0;

    border-top: 2px hsl(47, 84%, 57%) solid;

    border-top: 2px var(--primary) solid;

    transform: translateY(10px);

    transition: all 0.3s ease;

    opacity: 0;

    visibility: hidden;

    max-height: -moz-min-content;

    max-height: min-content;

    overflow: inherit;
  }
}

@media (min-width: 48rem) {
  .nav-menu .menu .menu-item .sub-menu .menu-item {
    display: block;

    padding: 0;

    width: 100%;
  }
}

.nav-menu .menu .menu-item .sub-menu .menu-item:hover a {
  color: hsl(47, 84%, 57%);

  color: var(--primary);
}

.nav-menu .menu .menu-item .sub-menu .menu-item a {
  padding: 0.75rem 2rem;

  color: hsl(0, 0%, 11%);

  color: var(--dark);

  font-size: 1rem;
}

@media (min-width: 48rem) {
  .nav-menu .menu .menu-item .sub-menu .menu-item a {
    display: block;

    padding: 0.625rem 0.938rem;

    color: hsl(0, 0%, 11%);

    color: var(--dark);

    transition: all 0.3s ease;

    text-transform: capitalize;

    border: 0;
  }
}

@media (max-width: 47.938rem) {
  .close-nav-menu,
  .open-nav-menu {
    display: flex;
  }
  .nav-menu .menu .menu-item{
        padding-left: 19px;
  }
  .mobile_btn a{
    color: #CB3A1A;
    gap: 10px;
    align-items: center;
        margin: 0;
    margin-left: 20px;
  }

  .menu-overlay.active {
    visibility: visible;

    opacity: 1;
  }

  .nav-menu {
    position: fixed;

    right: -280px;

    visibility: hidden;

    width: 280px;

    height: 100%;

    top: 0;

    overflow-y: auto;

    background-color: hsl(0, 0%, 95%);

    color: hsl(0, 0%, 0%);

    z-index: 1000;

    padding: 0.938rem 0;

    transition: all 0.5s ease;
  }

  .nav-menu.active {
    visibility: visible;

    right: 0px;
  }

  .nav-menu {
    .menu-item:first-child > a {
      border-top: 1px hsl(0, 0%, 60%) solid;

      border-top: 1px var(--border) solid;
    }
  }
}

/**************header css****************/

/************** banner start *************/
.banner .slick-next{
  display: none!important;
}
.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .slider{
  position: relative;
}
.banner .slider_content{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.banner .slick-dots{
      bottom: 41px;
}
.slider_content h3{
      font-weight: 600;
    font-size: 2.3rem;
    padding-bottom: 1.2rem;
}
.slider_content h1{
      font-size: 3.2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.slider_content h4{
  margin-bottom: 2rem;
  position: relative;
}
.slider_content h4::before{
 position: absolute;
    content: "";
    width: 69px;
    height: 1px;
    background-color: #fff;
    top: 13px;
    right: 56%;
}
.slider_content h4::after{
 position: absolute;
    content: "";
    width: 69px;
    height: 1px;
    background-color: #fff;
    top: 13px;
    left: 56%;
}

.banner .slick-dots li {
    margin: 0 12px;
}
.banner .slick-dots li div{
    width: 25px !important;
    height: 25px;
    color: #fff !important;
    background-color: #fff !important;
    border: none !important;
    padding: 4px 0;
    border-radius: 21px;
    font-size: 0px;
}
.banner .slick-dots li.slick-active div{
  background-color: #CB3A1A!important;
  color: #CB3A1A!important;
}
.slick-dots ul{
  padding: 0;
}
/************** banner end *************/

/****************About sec start**************/
.about_sec {
  padding: 6rem 0;
}
.right_content h6, .service_content h6, .menu_content h6{
  font-size: .9rem;
    text-transform: uppercase;
    background-color: #cb3a1a;
    display: inline-block;
    padding: 0.5rem 0.6rem;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 1.5rem;
}
.right_content h2{
  font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}
.right_content p{
  font-size: 1rem;
    color: #74787C;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

/****************About sec end**************/

/***************** service start *****************/
.service_sec {
      padding: 5rem 0 2rem;
  background-color: #000;
  color: #fff;
}
.service_content hr, .menu_content hr{
      width: 2px;
    height: 30px;
    background-color: #fff;
    opacity: inherit;
    margin: 0 auto;
}
.service_content h2, .menu_content h2{
  font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 1.2rem;
    
}
.service_content img, .menu_content img{
  margin-top: 1.2rem;
}
.service_box{
      background-color: #fff;
    padding: 1.2rem 1.2rem 2rem;
    color: #000;
}
.service_box h6{
  font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.2rem 0;
}
.service_box p{
     color: #74787C;
    font-size: .9rem;
    padding-bottom: 1.2rem;
}
.service_btn a {
      font-size: 1rem;
    padding: .6rem 0;
    border: 1px solid #CB3A1A;
    color: #CB3A1A;
    width: 168px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    gap: 13px;
    text-align: left;
    font-weight: 600;
}
.service_btn a:hover{
  background-color: #CB3A1A;
  color: #fff;
  transition: all 0.6s ease;
}
/***************** service end *************/


/***************** menu start*****************/
.menu_sec{
  background-color: #F8F8F8;
  padding: 6rem 0;
}
.menu_content hr{
  background-color: #CB3A1A;
}
.menu_box{
    background-color: #fff;
    box-shadow: 0px 0px 4px #0000005c;
    margin-bottom: 30px;
    
}
.menu_box h5{
     font-size: 1.2rem;
    font-weight: 600;
    margin: .7rem 0;
}
.menu_box h6{
      font-size: .9rem;
      color: #CB3A1A;
      padding-bottom: 1rem;
}
.menu_img{
position: relative;
}
.text_hover {
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cb3a1a9c;
    padding: 6rem 0;
    opacity: 0;
}
.text_hover a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}
.text_hover a:hover {
    text-decoration: underline!important;
}
.menu_box:hover .text_hover{
  opacity: 1;
  transition: all 0.6s ease;
}
.menu_sec .nav-tabs{
  justify-content: center;

}
.menu_sec .nav-tabs .nav-link {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: .8rem;
  padding: 0.5rem 0;
  margin: 0 1.5rem;
  border: none;
}
.menu_sec .nav-tabs .nav-link.active {
  border-bottom: 2px solid #CB3A1A;
  background-color: transparent;
}
/***************** menu end *****************/
/* testimonial start */

.client_slider{
    width: 100%!important;
    display: inline-block!important;
    padding: 1.5rem;
    border: 1px solid #CB3A1A;
    margin-top: 2rem;
    background-color: #f6f6f7ab;
}
.coma img{
  width: 4rem;
}
.client_text p{
    font-size: 1rem;
    color: #7b7e82;
    line-height: 1.8rem;
    padding-bottom: 1.5rem;
}
.user_name{
      font-size: 1rem;

}
.user_location{
      font-size: 0.85rem;
    color: #7b7e82;
}
.clients_sec{
      background-color: #fff;
    padding: 5rem 0 7rem;
}
.clients_sec .slick-initialized .slick-slide{
  padding: 0 15px;
}
.clients_sec .slick-dots {
  bottom: -60px;
}
.clients_sec .slick-dots li.slick-active button:before {
  color: #CB3A1A;
  opacity: 100%;
}
.clients_sec .slick-dots li button:before{
  font-size: 17px;
  opacity: 100%;
      width: 17px;
    height: 17px;

}
/* testimonial end */
/* banner bottom start */
.banner_btm{
  background-image: url(../images/second_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.banner_text h5{
  font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.2rem 0;
}
.banner_text p, .banner_text h6, .banner_text a{
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 400;
}
.banner_btn2 a{
   font-size: 1rem;
    padding: .8rem 0;
    color: #fff;
    width: 350px;
    display: flex;
    border: 1px solid #CB3A1A;
    background-color: #CB3A1A;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.banner_btn2 a:hover{
    background-color: transparent;
    border: 1px solid #CB3A1A;
    transition: all 0.6s ease;
}
/* banner bottom end */
/* chef start */
.chef_box{
    background-color: #272727;
    color: #fff;
}
.chef_box h5{
      text-transform: uppercase;
    font-size: 1.5rem;
      padding-top: 2rem;
}
.chef_box h6{
      text-transform: uppercase;
    font-size: .9rem;
    padding: .7rem 0 1.5rem;
    font-weight: 400;
    color: #CB3A1A;
}
.chef_sec{
  padding: 5rem 0;
}
/* chef end */

/* counter start */
.counter_sec{
  background-image: url(../images/counter-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #fff;
}
.counter_list li span {
    font-size: 4.5rem;
    font-weight: 600;
    color: #CB3A1A;
}
.counter_list li{
  gap: 1.5rem;
}
.counter_list li h6{
  text-transform: uppercase;
  font-size: 1rem;
}

/* counter end */

/* blog css start */
.blog_sec{
  padding: 6rem 0;
}
.blog_box{
      box-shadow: 7px 4px 15px #dedede;
    background-color: #fff;
}
.blog_content{
  padding: 1.2rem;
}
.blog_content h6{
  background-color: #F2EDEA;
    display: inline-block;
    padding: .6rem .8rem;
    color: #74787C;
    text-transform: uppercase;
    font-size: .8rem;
}
.blog_content h3{
      text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 1rem 0;
}
.comment
 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d6d6d6;
    padding-top: .8rem;
}
.comment a{
      font-size: 1rem;
    color: #74787C;
}
/* blog css end */

/* footer start */
.footer_img{
  display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.footer_img img{
  width: 71px;
}
.page_footer{
  background-image: url(../images/footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
  color: #fff;
}
.footer_box h6{
      text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 1px solid #686868;
}
.footer_box{
      padding: 0 15px;
}
.first_box a{
display: block;
    font-size: 1rem;
    color: #fff;
    margin: .7rem 0;

}
.footer_icon li{
  margin-right: .5rem;
}
.footer_icon li a{
     background-color: #fff;
    color: #000;
    padding: 9px 12px;
    border-radius: 2rem;
    width: 40px;
    height: 40px;
}
.footer_icon li a:hover{
  background-color: #CB3A1A;
  color: #fff;
    transition: all 0.6s ease;
}
.footer_list li{
  line-height: 2rem;
}
.footer_list li a{
  color: #fff;
}
.footer_list li i{
  margin-right: 1rem;
}
.footer_box p{
  line-height: 2rem;
}
.footer_box span{
      padding-top: 2rem;
    display: inline-block;
}
.bottom_footer{
      background-color: #1A1A1A;
    padding: 1.5rem 0;
}
.btm_list li a{
  color: #fff;
}
/* footer end */

/* responsive css start */
@media only screen and (max-width: 1199px){
.slider_content h1 {
    font-size: 2.5rem;
}
.footer_box h6{
  font-size: 1.2rem;
}
}
@media only screen and (max-width: 992px){
  .slider_content h1 {
    padding-bottom: 1.5rem;
}
.slider_content h3 {
    font-size: 2.3rem;
    padding-bottom: 1.2rem;
}
.slider_content h4 {
    margin-bottom: 1rem;
}
.slider_content h4::before{
      right: 59%;
}
.slider_content h4::after{
  left: 59%;
}
    .banner .slick-dots {
        bottom: 23px;
    }
.banner .slick-dots li div {
    width: 17px !important;
    height: 17px;
}
.banner .slider_content{
  top: 16%;
}
.menu_box h5 {
    font-size: 1rem;
}
.text_hover{
  padding: 4rem 0;
}
.text_hover a{
  font-size: .8rem;
}
.client_text p {
    font-size: .9rem;
    min-height: 12rem;
    height: 12rem;
}
.counter_list li span {
    font-size: 3.8rem;
}
.counter_list li {
    gap: 1rem;
}
    .blog_content h3 {
        font-size: .9rem;
        height: 8rem;
    }
    .blog_content
 {
    padding: 1.2rem .8rem;
}
.footer_box {
    padding: 0;
}
.footer_box h6 {
        font-size: 1rem;
    }
    .footer_icon li a
 {
    background-color: #fff;
    color: #000;
    padding: 6px 9px;
    border-radius: 2rem;
    width: 30px;
    height: 30px;
    font-size: .8rem;
}
.footer_box p
 {
    line-height: 1.5rem;
    font-size: .8rem;
}
.service_box p{
      min-height: 9rem;
    height: 9rem;
}
.service_box h6 {
    font-size: 1rem;
}
.right_content h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.right_content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
    .slider_content h1 {
        font-size: 2.2rem;
        padding-bottom: 1rem;
    }
}
@media only screen and (max-width: 768px){
    .slider_content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding-bottom: .8rem;
    }
        .slider_content h3 {
        font-size: 1.8rem;
        padding-bottom: .5rem;
    }
        .slider_content h4 {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
    .header_btn a, .about_btn a{
          width: 168px;
          font-size: .9rem;
    padding: .7rem 0;
    font-size: .9rem;
    }
    .left_img{
      padding-bottom: 1.5rem;
    }
    .service_box{
      margin-bottom: 2rem;
    }
        .service_box p {
        min-height: 4rem;
        height: 4rem;
    }
    .service_box h6 {
        font-size: 1.4rem;
    }
    .text_hover {
        padding: 12rem 0;
    }
        .text_hover a {
        font-size: 1rem;
    }
    .menu_content h2{
          font-size: 2rem;
    }
    .banner_btm .menu_content h2{
              font-size: 1.8rem;
    }
    .chef_box{
          margin-bottom: 2rem;
    }
        .counter_list li {
        gap: .5rem;
    }
    .counter_list li span {
        font-size: 3rem;
    }
    .counter_list li h6 {
    text-transform: uppercase;
    font-size: .8rem;
}
.blog_content h3 {
        font-size: 1.2rem;
        height: auto;
    }
    .blog_box{
      margin-bottom: 2rem;
    }
    .footer_box h6{
      display: inline-block;
    }
    .footer_box {
        padding: 0;
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 680px){
    .slider_content h3 {
        font-size: 1.4rem;
        padding-bottom: .5rem;
    }
    .slider_content h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: .8rem;
    }
    .slider_content h4 {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
        .header_btn a, .about_btn a {
        width: 156px;
        padding: .5rem 0;
        font-size: .9rem;
    }
}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 580px){
.slider_content h4{
  display: none;
}
    .slider_content h3 {
        font-size: 1.1rem;
        padding-bottom: .5rem;
    }
    .slider_content h1 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-bottom: .8rem;
    }
    .counter_list{
      flex-wrap: wrap;
    justify-content: space-evenly!important;
    }
    .footer_img img {
    width: 119px;
}
.page_footer{
      padding: 2rem 0 4rem;
}
.blog_sec {
    padding: 4rem 0;
}
.chef_sec {
    padding: 4rem 0 3rem;
}
.banner_btm .menu_content h2 {
        font-size: 1.4rem;
    }
    .banner_btn2 a{
      width: 208px;
          font-size: .9rem;
    }
    .clients_sec {
    padding: 3rem 0 7rem;
}
.menu_sec
 {
    background-color: #F8F8F8;
    padding: 3rem 0;
}
}
@media only screen and (max-width: 480px){
    .banner .slider_content {
        top: 6%;
    }
    .service_content h2, .menu_content h2
 {
    font-size: 2rem;
 }
     .slider_content h3{
      display: none;
     }
     .banner .slick-dots li {
    margin: 0 7px;
}
    .slider_content h1 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-bottom: .8rem;
    }
        .banner .slick-dots li div {
        width: 10px !important;
        height: 10px;
    }
        .banner .slick-dots {
        bottom: 8px;
    }
        .banner .slider_content {
        top: 22%;
    }
    .about_sec {
    padding: 3rem 0;
}
.service_sec {
    padding: 3rem 0 0rem;
}
.service_box p {
        min-height: auto;
        height: auto;
    }
    .text_hover {
        padding: 10rem 0;
    }
}

@media only screen and (max-width: 380px){
      .banner .slick-dots {
        bottom: 3px;
    }
    .slider_content h1 {
        font-size: 1.1rem;
    }
    .banner .slider_content {
        top: 11%;
    }
    .service_content h2, .menu_content h2 {
        font-size: 1.8rem;
    }
    .menu_sec .nav-tabs .nav-link{
      margin: 0 1rem;
    }
        .text_hover {
        padding: 8rem 0;
    }
}

/* responsive css end */